@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1551529069302'); /* IE9 */
  src: url('iconfont.eot?t=1551529069302#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABmgAAAJjAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgQABNgIkAwgLBgAEIAWEbQcyG6gFEdWTFWQ/DnKzzCVPj7xTW+JEafo5eJ78ezt3Zv7P5L2AKlOCWkAdzaLZraGS6oLNzRiuRkUoluQ8+F++I+1mhPwKAAMux7+AHmQeUG5rbVo8JmBgaYB7YRRIwEUSecPYBS7hPgRwSCAPqahq6MBisJYJIDOmTh6LzSUwGFa2CN6avQbZhger1qtnFVvD78vXSSwoPBqroWVS5QRKPrj2Ar1seBkj9HKWzecD2CHQQB5gQDpqC01ohLEap2BIgX3VCnxwh4d9F7JXO8L+OqvaD4A4qLgnpau61WoFgInHE4HcUW8EKjBoYcCGc+GdnbvvRna/yN17YVbgxosRF7q69twJO9fRset8fqt3Q3T1xdOXj5x+d/3NkbOrNv68NPHYvw2Rky79XLXp2NmH1wYOrVjf9EsXqykBYHiZXqCXI4DAwcV31ujAgv/WNQC8PLZ7ZhgbXmboFwK7z6DAv1H27DO62nIqoyprQ4rEUUsV4OAAw+BICO/HWsJvpCJYwm8n5EN8Co0ljTBMHjy45MOLpRgOuVQfdgllHhoxvkAOqwGEIK5CEcBTaIJ4ThjmHTxE8B1egkTDoUtCz3TRMiSIckLJaED9Ieh9s46bRVR7Q/fOkrLqkHshXSENYzcUyytuSHNsuD5uYrZgaS+wgMcw5x0O2iNq7jzzMfe9rXtRp/dSCcoJJaMB1B8Iet+sP5pF6fM3dO8sqaWpJvtCusLkwEjH0INYDVuvpnt55vq4CWYLWNoLsIBZmPMOHPWzImru8CNyx0xvD7N9Dd36pvIB5awNy6rEnt5Wdr6Xm/sFWVUAAA==') format('woff2'),
  url('iconfont.woff?t=1551529069302') format('woff'),
  url('iconfont.ttf?t=1551529069302') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1551529069302#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangxia:before {
  content: "\e60b";
}

